body{
font-family: 'Segoe UI', sans-serif;
margin: 0;
background: #f5f5f5;
align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(242, 239, 239);
    position: sticky;
    top: 0;
    padding: 10px 15px;
    margin: 20px 0 30px 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-right a {
    background: orange;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logout.btn{
    background: orange;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
}

.cart{
    width: 25px;
    height: 25px;
    display: block;
}
.logo img{
    width: 100%;
    height: 100px;
    border-radius: 40px;

}

.ray{
    padding: 15px;
}

.section-title{
    padding: 10px 15px;
}

.rayhab{
    font-size: 1.5em;
    color: #555;
    text-align: center;

}

.categories {
    display: flex;
    gap: 10px;
     justify-content:center;
    padding: 10p;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.categories button {
background: orange;
border: none;
font-size: 0.8em;
border-radius: 30px;
}

.peel{
    background: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    text-align:center;
}

.peel.active{
    background: orange;
    color: rgb(17, 13, 13);
}

.food-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
}

.food{
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.food img{
    width: 50%;
    border-radius: 15px;
    gap: 2px;
}

.food button{
    width: 15%;
    padding: 5px;
    background: orange;
    border: none;
    border-radius: 20px;
}

.food drinks{
    width: 50%;
    border-radius: 20px;
    gap:3px ;
}
.form-box{
    width: 90%;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

form input, form select {
    width: 80%;
    padding: 10px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart {
width: 25px;
height: 20px;
padding-right: 10px;
margin-right: 5px;

}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    text-shadow: 3px 3px 5px #dacece;

}

h2 {
text-align: center;
margin-top: 15px;
font-size: 3em;

}

h3 {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 1.5em;

}

p {
    font-size: 1.2em;
  padding: 15px;
  
  
}


